<div class="containerPageLogSign">


<div class="leftPartLogin">
  <div class="logoLogin">
    <img src="/images/kikundi-logo-white.png" alt="logo">
  </div>
  <h2 class="leadLogin">You<br>Will Never<br>Pay Alone</h2>
</div>
<div>

<div class="rightPartLogin">  


<div class="facebookSign"> 
  <p class="account-message">Login with <a href="/auth/facebook">Facebook</a></p>
  <p class="account-message">Don't have an account yet? <a href="/auth/signup">Signup</a></p>
</div>

  
  <form action="/auth/login" method="POST" id="form-container" class="formLogin form">
    <h2>Login</h2>
    <div class="inputLogin input">
      <input id="username" type="text" name="username" placeholder="username">
      <input id="password" type="password" name="password" placeholder="password">
    </div>
    {{!-- {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}} --}}
    <button class="btn btnLogin">Entry</button>
  </form>

</div>
</div>