<div class="containerPageLogSign">
<div class="leftPartLogin">
  <div class="logoLogin">
    <img src="/images/kikundi-logo-white.png" alt="logo">
  </div>
  <h2 class="leadLogin">You<br>Will Never<br>Pay Alone</h2>
</div>

<div class="rightPartLogin" style="overflow: scroll;">

  <div class="facebookSign"> 
    <p class="account-message">Login with <a href="/auth/facebook">Facebook</a></p>
    <p class="account-message">Do you already have an account? <a href="/auth/login">Login</a></p>
  </div>

  <form action="/auth/signup" method="POST" id="form-container" class="formLogin form formSign">
    <h2>Signup</h2>
    <div class="inputSign input">
      <input id="username" type="text" name="username" placeholder="username">
      <input id="password" type="password" name="password" placeholder="password">
      <input id="email" type="email" name="email" placeholder="email">
      <input id="phone" type="text" name="phone" placeholder="phone number">
      <input id="cardNumber" type="text" name="cardNumber" placeholder="credit card number">
      <input id="cardName" type="text" name="cardName" placeholder="credit card owner">
      
      <div class="selectSign">
        <label for="cardMonth">expiration month</label>
        <select name="cardMonth" id="cardMonth">
          <option value="01" selected>01</option> 
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
      
      <div class="selectSign">
        <label for="cardYear">expiration Year</label>
        <select name="cardYear" id="cardYear">
          <option value="2019" selected>2019</option> 
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
        </select>
      </div>
    </div>
  {{!-- <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}} --}}
    <button class="btn btnLogin">Create account</button>

  </form>
</div>
</div>