<h2>Profile Page</h2>
<div>
  <img src="{{userInfo.picture}}" alt="Profile image">
  <h2>{{userInfo.name}}</h2>
  <h2>{{userInfo.email}}</h2>
  <h2>{{userInfo.phone}}</h2>
</div>

<a href="/edit-profile">Edit Profile</a>