@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,700");
body {
  font-size: 10rem;
  background-color: #173E43;
  font-family: 'Poppins', sans-serif; }

.leftPartLogin {
  display: flex;
  width: 50vw;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center; }

.logoLogin {
  width: 30vw;
  margin-top: 10vh; }

.logoLogin img {
  width: 100%; }

.leadLogin {
  font-family: 'Poppins', sans-serif;
  color: #3FB0AC;
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 10vh; }

.rightPartLogin {
  display: flex;
  width: 50vw;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center; }

.facebookSign {
  font-family: 'Poppins', sans-serif;
  color: #DDDFD4;
  font-size: 1.3rem;
  margin-top: 10vh; }

.account-message {
  font-weight: 100;
  margin-bottom: 10px; }

.account-message a {
  color: #DDDFD4;
  text-decoration: none;
  font-weight: 400; }

.formLogin {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-bottom: 10vh; }

.form h2 {
  color: #DDDFD4;
  font-weight: 400;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px; }

.inputLogin {
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column; }

.inputSign {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; }

.selectSign {
  display: flex;
  justify-content: space-between; }

.formSign {
  margin-top: 5vh; }

.selectSign {
  margin-bottom: 20px; }

.selectSign label {
  font-weight: 100;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: #FAE596; }

.selectSign select {
  width: 10vw;
  border: 1px solid #FAE596;
  background-color: #173E43;
  color: #FAE596; }

.input input {
  border: 3px solid #3FB0AC;
  background-color: #173E43;
  padding: 5px 10px;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  color: #FAE596; }

.input input::-webkit-input-placeholder {
  color: #FAE596; }

.btnLogin {
  padding: 5px 10px;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  background-color: #FAE596;
  color: #173E43; }

.containerPageLogSign {
  display: flex; }

.containerPage {
  display: flex;
  flex-direction: column; }

.nav {
  display: flex;
  background-color: #173E43;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw; }

.logoNav {
  width: 15vw; }

.logoNav img {
  width: 100%; }

.navList {
  display: flex; }

.navList li a {
  text-decoration: none;
  color: #DDDFD4;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px; }

.containerIdex {
  display: flex;
  flex-direction: column;
  text-align: center; }

.containerIdex h1 {
  font-weight: 400;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  color: #DDDFD4;
  margin-top: 5vh; }

.groupIndex {
  display: flex;
  justify-content: space-around; }

.listGroupindex {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  background-color: #DDDFD4;
  border-radius: 20px;
  padding: 30px 0;
  height: 55vh;
  overflow: scroll; }

.listGroupindex h3 {
  font-weight: 400;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  color: #173E43; }

.elementGroupindex {
  width: 30vw;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif; }

.elementGroupindex h2 {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; }

.btnGroupindex {
  cursor: pointer;
  border: 0;
  background: none;
  border-bottom: 1px solid #173E43;
  padding: 10px 0;
  margin-top: 30px; }

.infoElementGroupindex {
  display: flex;
  justify-content: space-between;
  font-size: 1rem; }

.logoServiceIndex {
  height: 10vh;
  margin-bottom: 20px;
  width: 100%; }

.logoServiceIndex img {
  height: 100%; }

.containerCreateNew {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.containerSearchTribe {
  display: flex;
  margin-left: 3vw;
  flex-direction: column; }

.containerSearchTribe h2 {
  color: #DDDFD4;
  font-weight: 400;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  margin-top: 3vh; }

.searchElements {
  display: flex;
  flex-direction: column; }

.searchElements button {
  display: flex;
  width: 94vw;
  cursor: pointer;
  border-radius: 10px;
  background-color: #DDDFD4;
  height: 15vh;
  margin-bottom: 20px; }

.logoImgSearch img {
  width: 15vw; }

.logoImgSearch {
  border-right: 1px solid  #173E43;
  width: 20vw;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.infoElement {
  color: #173E43;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  justify-content: center;
  height: 13vh; }

.infoElement span {
  font-weight: 300; }

.infoElement .line {
  display: flex;
  width: 50vw;
  justify-content: space-between; }

.groupPage {
  display: flex; }

.leftPartGroup {
  display: flex;
  width: 50vw;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  align-items: center; }

.rightPartGroup {
  display: flex;
  width: 50vw;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  align-items: center; }

.groupImg {
  background-color: #DDDFD4;
  width: 40vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px; }

.groupImg img {
  width: 30vw; }

.groupInfo {
  width: 40vw;
  color: #DDDFD4;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  border: 2px solid #3FB0AC;
  padding: 30px 0;
  box-sizing: border-box;
  border-radius: 15px;
  align-items: center; }

.groupInfo p {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  margin-bottom: 10px; }

.groupInfo p:last-child {
  margin-bottom: 0; }

.groupInfo span {
  font-weight: 100; }

.memberGroup {
  border: 2px solid #DDDFD4;
  border-radius: 15px;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  width: 40vw;
  color: #DDDFD4;
  font-size: 1.3rem; }

.memberGroupTitle {
  background-color: #DDDFD4;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh; }

.memberGroupTitle h2 {
  color: #173E43;
  font-size: 1.5rem; }

.memberGroupPayment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0; }

.memberGroupPayment p {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.memberGroupPayment :last-child {
  margin-bottom: 0; }

.memberGroupPayment span {
  font-weight: 100; }

.memberGroupPayment a {
  text-decoration: none;
  color: #FAE596;
  font-size: 1.5rem;
  cursor: pointer; }

.memberGroupPayment a:hover {
  color: #3FB0AC; }

.memberGroupPayment button {
  text-decoration: none;
  color: #FAE596;
  font-size: 1.5rem;
  background: 0;
  border: 0;
  cursor: pointer; }

.memberGroupPayment button:hover {
  color: #3FB0AC; }

.formGroup {
  width: 40vw; }

.formGroup button {
  width: 100%;
  text-align: center;
  cursor: pointer; }

.paymentPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.paymentBox {
  border: 2px solid #DDDFD4;
  border-radius: 15px;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  width: 40vw;
  color: #DDDFD4;
  font-size: 1.3rem; }

.paymentBox p:first-child {
  margin-bottom: 30px;
  line-height: 2rem; }

.paymentBox a {
  margin-top: 30px; }

.paymentPrebox h2 {
  color: #DDDFD4;
  font-weight: 400;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px; }

.requestButton {
  width: 40vw; }

.requestButton button {
  height: 10vh;
  width: 100%;
  text-decoration: none;
  color: #173E43;
  font-size: 1.5rem;
  background-color: #FAE596;
  border-radius: 15px;
  border: 0;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */