<h2>New Payment</h2>
<form action="/payments/create" method="post"> 

  <label for="">User ID</label>
  <input type="text" name="idUser" value="userTest">

  <label for="">Group ID</label>
  <input type="text" name="idGrupo" value="groupTest">

  <label for="">Leader ID</label>
  <input type="text" name="groupLeader" value="leaderTest">

  <label for="">Quota</label>
  <input type="text" name="quota" value="10">

  <label for="">Status</label>
  <input type="text" name="status" value="Pending">

  <button type="submit">INSERT</button>
</form>

